.fb-bg:hover{
    background-color: #3b5998;
    color:white;
}

.twitter-bg:hover{
    background-color: rgb(53, 152, 245);
    color:white;
}

.dribbble-bg:hover{
    background-color: rgb(207, 95, 235);
    color:white;
}

.vimeo-bg:hover{
    background-color: rgb(12, 148, 221);
    color:white;
}